body {
  font-size: medium;
  color:#5F3215;
  background-color: #869342;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
  
#start {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 250px;
  top: 200px;
  border-radius: 20px;
  background-color: #B89647;
  opacity: 50%;
  transition: .5s ease;
  cursor: pointer;
}

#start:hover {
  opacity: 100%;
  transition: .5s ease;
}

#quizContainer {
  margin: 25px auto;
  background-color: #D1D274;
  height: 450px;
  width: 700px;
  border-radius: 15px;
  position: relative;
}

#questions {
  text-align: center;
  padding-top: 50px;
}

#choiceButtons {
  text-align: center;
  padding-top: 10px;
}

#timer {
  margin-top: 400px
}
