body {
  font-size: medium;
  color: #5f3215;
  background-color: #869342;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5f3215;
  color: #d1d274;
  line-height: normal;
  vertical-align: middle;
}

#timer {
  margin: 10px auto;
  text-align: center;
  height: 150px;
  width: 300px;
  position: relative;
}

#start {
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  position: absolute;
  left: 250px;
  top: 200px;
  border-radius: 20px;
  background-color: #b89647;
  opacity: 50%;
  transition: 0.5s ease;
  cursor: pointer;
}

a {
  text-decoration: none;
}

#start:hover {
  opacity: 100%;
  transition: 0.5s ease;
}

#quizContainer,
#scoreContainer {
  margin: 25px auto;
  background-color: #d1d274;
  height: 450px;
  width: 700px;
  border-radius: 15px;
  position: relative;
}

input {
  text-align: center;
  margin: auto;
  display: block;
}

#questions {
  text-align: center;
  padding-top: 50px;
}

#choiceButtons {
  text-align: center;
  padding-top: 50px;
}

#answerCheck {
  text-align: center;
  padding-top: 50px;
}

button {
  border-color: #5f3215;
  border-style: solid 2px;
  border-width: thin;
  padding: 10px;
  margin: 0px 0px 5px 100px;
  border-radius: 5px;
  background-color: #b89647;
  width: 500px;
  display: block;
}

button:hover {
  border-color: #b89647;
  background-color: #d1d274;
}
