body {
  font-size: medium;
  color:#5F3215;
  background-color: #869342;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
  
#quizContainer {
  margin: 25px auto;
  background-color: #D1D274;
  height: 450px;
  width: 700px;
  border-radius: 15px;
  position: relative;
}

#questions {
  text-align: center;
  padding-top: 50px;
}

#buttons {
  text-align: center;
  padding-top: 10px;
}

#timer {
  margin-top: 400px
}
